@page "/usersPage"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@using ProjectZee.Web.Data
@using BlazorBootstrap.Components
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationDbContext Context
@attribute [Authorize]
<div class="container my-5">
    <h3>Welkom @applicationUser.FullName</h3>
    <h4>Project waarvoor je kandidaat bent:</h4>

    <h4>Project die je volgt</h4>
    <Grid @ref="grid" TItem="ProjectFollower" Data="projectFollowers" Class="table table-sm table-striped">
        <GridColumns>
            <GridColumn TItem="ProjectFollower" HeaderText="Project">
                @context.Project.Name
            </GridColumn>
            <GridColumn TItem="ProjectFollower" HeaderText="Regio">
                @context.Project.RegionOrCity
            </GridColumn>
            <GridColumn TItem="ProjectFollower" HeaderText="Kamers">
                @context.Project.Bedrooms
            </GridColumn>
            <GridColumn TItem="ProjectFollower" HeaderText="Budget">
                @context.Project.TargetBudget
            </GridColumn>
            <GridColumn TItem="ProjectFollower">
                <Button Color="ButtonColor.Primary" @onclick='() => unFollow(context)'>Niet meer volgen</Button>
            </GridColumn>
        </GridColumns>
    </Grid>

</div>

@code {
    Grid<ProjectFollower> grid = default!;
    ClaimsPrincipal user;
    ApplicationUser applicationUser;
    List<ProjectFollower> projectFollowers = new();
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            var userName = user.Identity.Name;
            // Hier kun je verdere logica toevoegen om de projecten op te halen die de gebruiker volgt of waarvoor hij kandidaat is.

            applicationUser = Context.Users
                .Include(x=>x.FollowedProjects).ThenInclude(x=>x.Project)
                .FirstOrDefault(u => u.UserName == userName);
            projectFollowers = applicationUser.FollowedProjects;
        }
    }

    async Task unFollow(ProjectFollower projectFollower)
    {
        projectFollowers.Remove(projectFollower);
        Context.ProjectFollowers.Remove(projectFollower);
        Context.SaveChanges();

        await grid.RefreshDataAsync();
    }
}
